extends templates/layout

block content
  center
    h2=pageTitle
  p.info Please fill the form to change your login password.
  form(method="POST")
    input(type="password" name="oldPassword" placeholder="Old Password" required)
    input(type="password" name="newPassword" placeholder="New Password" required)
    input(type="password" name="newPassword2" placeholder="Confirm New Password" required)
    center
      input(type="submit" value="MODIFY")
  if errorMessage
    p.warning=errorMessage
  br
  div
    span 😊 Want to edit your profile? &nbsp;
    a(href="/users/edit") Edit Profile &rarr;