extends templates/layout
include mixins/movie

block content
  center
    h2=pageTitle
  p.info Please check your favorite movie(s).
  each item in movies
    +movie(item)
  else
    li Sorry, No Movies