extends layout.pug

block content
    main
        h2 Home Page Content
        p This is the home page of your Express Node App.
        p You can customize this page to suit your needs.
        li
            a(href="/movies") Go to Movies List
