extends templates/layout
include mixins/movie

block content
  h2=pageTitle
  form(action="/movies/filter" method="get")
    input(type="text" name="year" placeholder="Filter by year")
    input(type="text" name="rating" placeholder="Filter by rating")
    input(type="submit" value="SEARCH")
    //- button Search
  each item in movies
    +movie(item)
  else
    li Sorry, No Movies
