extends templates/layout

block content
  h2=pageTitle
  p.info Please fill the form to add a new movie.
  form(method="POST" enctype="multipart/form-data")
    input(type="text" name="title" placeholder="Title" required maxlength=50)
    input(type="text" name="summary" placeholder="Summary" required minlength=20)
    input(type="text" name="year" placeholder="Release Year")
    input(type="text" name="genres" placeholder="Genres (by comma)")
    input(type="text" name="posterImage" placeholder="Poster Image Path")
    label(for="movie") Movie File
    input(type="file" id="movie" name="movie" accept="video/*")
    input(type="submit" value="SAVE")
  if errorMessage
    p.warning=errorMessage