span &nbsp;
span
  a(href="/") Home
span &nbsp;
span
  a(href="/search") Search
span &nbsp;
if loggedIn
  span
    a(href="/movies/upload") Upload
  span &nbsp;
  span
    a(href="/users/edit") Profile
  span &nbsp;
  span
    a(href="/logout") Logout
  span
    small=` (${loggedInUser.username})`
else
  span
    a(href="/join") Join
  span &nbsp;
  span
    a(href="/login") Login